* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  border: 5px solid black;
  background-color: wheat;
  font-size: 42px;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

.box {
  height: 100px;
}

#box1 {
  flex-basis: 400px;
  /* flex-grow: 1; */
  flex-shrink: 1;
  background-color: teal;
}

#box2 {
  flex-basis: 400px;
  /* flex-grow: 2; */
  flex-shrink: 2;
  background-color: violet;
}

#box3 {
  background-color: darkblue;
}

#box4 {
  background-color: darksalmon;
}

#box5 {
  background-color: darkgrey;
}