html {
  font-size: 32px;
}

h1 {
  font-size: 24px;
}

.box {
  width: 80vw;
  height: 200px;
  background-color: palegoldenrod;
}

.box p {
  width: 50%;
}

li {
  font-size: 2em;
}

p {
  font-size: 2rem;
}