div {
  width: 200px;
  height: 200px;
  background-color: red;
}

div:hover {
  background-color: blue;
}

input {
  background-color: red;
}

input:hover {
  background-color: blue;
}

input:focus {
  background-color: green;
}

input:active {
  background-color: yellow;
}

li:first-child {
  background-color: palegoldenrod;
}

h1:nth-of-type(3n+1) {
  background-color: palevioletred;
}

p::first-letter {
  font-size: 36px;
}

p::first-line {
  background-color: palegreen;
}

input::placeholder {
  color: black;
}